<div>
  <mat-card>
    <h2>Adicionar Produto</h2>
    <form #produtoForm="ngForm" (ngSubmit)="addProduto()">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="novoProduto.nome" name="nome">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Preço" [(ngModel)]="novoProduto.preco" name="preco">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Adicionar</button>
    </form>
  </mat-card>

  <mat-card>
    <h2>Lista de Produtos</h2>
    <mat-list>
      <mat-list-item *ngFor="let produto of produtos">
        <h3 mat-line>{{produto.nome}}</h3>
        <p mat-line>{{produto.preco | currency}}</p>
        <button mat-icon-button color="warn" (click)="deleteProduto(produto.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editProduto(produto)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card *ngIf="produtoParaEditar">
    <h2>Editar Produto</h2>
    <form #editForm="ngForm" (ngSubmit)="updateProduto()">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="produtoParaEditar.nome" name="nome">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Preço" [(ngModel)]="produtoParaEditar.preco" name="preco">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </form>
  </mat-card>
</div>